/.idea
/venv
__env.env
# Игнорируем логи gunicorn
/{{ project_name }}/gunicorn/gunicorn_ass.log
/{{ project_name }}/gunicorn/gunicorn_err.log
/{{ project_name }}/gunicorn/gunicorn.sock
# Игнорируем кеш `Django`
/{{ project_name }}/__cache
/{{ project_name }}/db.sqlite3
# Игнорируем модули `npm`
/{{ project_name }}/node_modules
# Для БД
/db/pg_data
