<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>React + Django</title>
	<!-- Иконка	-->
	<link rel="shortcut icon" type="image/png" href="https://img.icons8.com/fluency/48/000000/globe-earth.png">
<script defer="defer" src="/static/frontend_react/public/vendors-node_modules_bootstrap_dist_css_bootstrap_css-node_modules_react-dom_index_js-node_mo-8e7000.bundle.js"></script><script defer="defer" src="/static/frontend_react/public/main.bundle.js"></script><link href="/static/frontend_react/public/vendors-node_modules_bootstrap_dist_css_bootstrap_css-node_modules_react-dom_index_js-node_mo-8e7000.bundle.css" rel="stylesheet"><link href="/static/frontend_react/public/main.bundle.css" rel="stylesheet"></head>
<body>
<div id="root" class="content">

</div>
</body>
</html>